apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cn-asset-manager.fullname" . }}
  labels:
    {{- include "cn-asset-manager.labels" . | nindent 4 }}
type: Opaque
data:
  SECRET_KEY: {{ .Values.app.secretKey | b64enc | quote }}
  DEBUG: {{ .Values.app.debug | b64enc | quote }}
  ALLOWED_HOSTS: {{ .Values.app.allowedHosts | b64enc | quote }}
  DATABASE_URL: {{ include "cn-asset-manager.databaseUrl" . | b64enc | quote }}
  CELERY_BROKER_URL: {{ include "cn-asset-manager.celeryBrokerUrl" . | b64enc | quote }}
  {{- if .Values.app.csrfTrustedOrigins }}
  CSRF_TRUSTED_ORIGINS: {{ .Values.app.csrfTrustedOrigins | b64enc | quote }}
  {{- end }}
  {{- if .Values.app.corsAllowedOrigins }}
  CORS_ALLOWED_ORIGINS: {{ .Values.app.corsAllowedOrigins | b64enc | quote }}
  {{- end }}
